NewSpotyHitss/SpotyHitss.UI.Client/Connected Services/SpotyHitssProxy/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.166.143.76:8080/NewSpotyHitss/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SpotyHitss.Data.Objects" />
  <xs:element name="GetSearchGenListSong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchGenListSongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SpotyHitss.Data.Objects" minOccurs="0" name="GetSearchGenListSongResult" nillable="true" type="q1:ArrayOfSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SpotyHitss.Data.Objects" minOccurs="0" name="song" nillable="true" type="q2:Song" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SpotyHitss.Data.Objects" minOccurs="0" name="InsertSongResult" nillable="true" type="q3:OperationResultOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>