NewSpotyHitss/WebSiteSpotyHitss/Connected Services/SpotyHitssProxy/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SpotyHitss.Data.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpotyHitss.Data.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Song" nillable="true" type="tns:Song" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSong" nillable="true" type="tns:ArrayOfSong" />
  <xs:complexType name="Song">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSong" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Song" nillable="true" type="tns:Song" />
  <xs:complexType name="ArrayOfSongArtist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SongArtist" nillable="true" type="tns:SongArtist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSongArtist" nillable="true" type="tns:ArrayOfSongArtist" />
  <xs:complexType name="SongArtist">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artist_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Artist" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Song" type="xs:int" />
      <xs:element minOccurs="0" name="Song_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SongArtist" nillable="true" type="tns:SongArtist" />
  <xs:complexType name="OperationResultOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SpotyHitss.Data.Objects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="OpMesssage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpResult" type="xs:int" />
      <xs:element minOccurs="0" name="OpStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultOfint" nillable="true" type="tns:OperationResultOfint" />
</xs:schema>